body {
    text-align: center;
    display: grid;
    justify-content: center;
}

main {
    width: 700px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    border: 2px solid black;
}

main div {
    border: 2px solid black;
}

#player1-bank-label, #player2-bank-label, #player1-bank, #player2-bank {
    grid-row: span 2;
    background-color:bisque;
}

/* #player1-bank-label, #player2-bank-label {

 }

 #player1-bank-label {
    transform: rotate(270deg);
 }

 #player2-bank-label {
    transform: rotate(90deg);
 } */