body {
    text-align: center;
    font-family: 'Spectral', serif;
    font-weight: 300;
    background-color: #f5dbcb;
    margin: 0;
}

h1 {
    position: relative;
    font-family: 'Syncopate', sans-serif;
    background-color: #ed7b84;
    color: white;
    margin: 0;
    padding: 30px; 
    font-size: 36px;
    z-index: +2;
}

body > img {
    height: 40px;
    width: 40px;
    margin: 20px;
    /* position: absolute;
    right: 10px;
    top: 90px; */
    float: right;
    z-index: +1;
}

img:hover {
    cursor: pointer;
}

.info-box {
    position: absolute;
    top: 118px;
    right: 20px;
    height: 420px;
    width: 600px;
    background-color: #ed7b84;
    border: 2px solid #F44551;
    transition: all 1s;
    z-index: +1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 20% 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.hidden {
    top: -420px;
}

h2 {
    font-weight: 400;
}

.info-box h2 {
    grid-area: 1 / 1 / 2 / 5;
}

#close {
    justify-self: right;
    padding-right: 10px;
    color: white;
    grid-area: 1 / 5 / 2 / 6; 
    font-size: 20px;
    cursor: pointer;
}

.info-box p {
    grid-area: 2 / 1 / 5 / 4;
    text-align: justify;
    padding: 0 20px 20px;
    transition: 1s;
}

.info-box div {
    grid-area: 2 / 4 / 5 / 6;
    margin: 0 20px 20px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Bao_players_in_stone_town_zanzibar.jpg/2560px-Bao_players_in_stone_town_zanzibar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#player-turn-msg {
    clear: right;
    margin-top: 60px;
    margin-bottom: 3px;
    transition: all 1s;
}

#instruction-msg {
    margin-top: 3px;
    margin-bottom: 40px;
    transition: all 1s;
}

main {
    display: flex;
    justify-content: center;
    transition: all 1s;
}

#board {
    width: 70%;
    max-width: 1500px;
    height: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 20%;
    border: 2px solid #5AA85B;
    padding: 2%;
    border-radius: 20px;
    background-color: #7eb77f;
    align-items: center;
}

#board div {
    display: flex;
    border: 2px solid #B3B287;
    border-radius: 100px;
    background-color: #d6d5b3;
    height: 100%;
    margin: 3px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.1em;
}

.banks {
    cursor: not-allowed;
    grid-row: span 2;
    border-radius: 40px;
}

#player1-bank-label, #player2-bank-label {
    border: none;
    display: grid;
    align-content: center;
    width: 100px;
    font-size: 1.4em;
    margin: 15px;
}

#win-counts {
    margin-top: 50px;
}

button {
    width: 200px;
    margin: 30px;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Spectral', serif;
    background-color: #ed7b84;
    color: white;
    border: 0;
    justify-self: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    transition-property: opacity;
    transition-duration: 1s;
}

button:hover {
    background-color: #7eb77f;
}

button:active {
    background-color: #799496;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.invisible {
    opacity: 0%;
}

@media only screen and (max-width: 800px) {
    body {
        height: 100%;
        width: 100%;
    }

    h1 {
        font-size: 20px;
        padding: 10px; 
    }

    body > img {
        position: absolute;
        right: 10px;
        top: 50px;
        height: 30px;
        width: 30px;
        margin: 15px;
    }

    .info-box {
        position: absolute;
        top: 50px;
        right: 10px;
        height: fit-content;
        width: 350px;
        grid-template-rows: 10% 1fr 1fr;
        grid-template-columns: 1fr 1fr 20%;
        transition: 1s;
    }

    .info-box p {
        grid-area: 2 / 1 / 5 / 6;
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    .info-box div {
        background-image: none;
    }

    .hidden {
        top: -500px;
        opacity: 0%;
    }

    h2 {
        font-size: 20px;
    }

    #player-turn-msg {
        margin-top: 25px;
        position: relative;
    }

    #instruction-msg {
        margin-bottom: 15px;
        font-size: 15px;
    }

    #player1-bank-label, #player2-bank-label {
        align-content: center;
        width: 100%;
        font-size: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    #board {
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        height: 100%;
        max-height: 1000px;
        width: 40%;
        grid-template-areas:
            'o p'
            'n a'
            'm b'
            'l c'
            'k d'
            'j e'
            'i f'
            'h g';
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }

    #board div {
        box-sizing: border-box;
        height: 100%;
        max-height: 150px;
        width: 100%;
        max-width: 75px;
        justify-self: center;
        padding: 6%;
        border-radius: 50%;
        font-size: 1em;
    }

    #board .banks {
        grid-row: span 1;
        grid-column: span 2;
        width: 75%;
        border-radius: 40px;
        max-width: 200px;
        padding: 0;
    }

    #pit0 {
        grid-area: a;
    }

    #pit1 {
        grid-area: b;
    }

    #pit2 {
        grid-area: c;
    }

    #pit3 {
        grid-area: d;
    }

    #pit4 {
        grid-area: e;
    }

    #pit5 {
        grid-area: f;
    }

    #pit6 {
        grid-area: g, h;
    }

    #pit7 {
        grid-area: i;
    }

    #pit8 {
        grid-area: j;
    }

    #pit9 {
        grid-area: k;
    }

    #pit10 {
        grid-area: l;
    }

    #pit11 {
        grid-area: m;
    }

    #pit12 {
        grid-area: n;
    }

    #pit13 {
        grid-area: o, p;
    }

    #win-counts {
        margin-top: 10px;
    }

    button {
        margin: 5px;
        width: 150px;
        max-height: 50px;
        font-size: 1em;
        padding: 15px;
    }
}

@media only screen and (min-width: 1800px) {
    h1 {
        font-size: 100px;    
        padding: 100px 30px 60px;
    }
    
    .info-box {
        top: 284px;
    }

    .hidden {
        top: -420px;
    }

    #board div {
        font-size: 1.8em;
    }
}